<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.tailscale.tailscaled</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/tailscaled</string>
    <string>--state=/Library/Tailscale/tailscaled.state</string>
    <string>--statedir=/Library/Tailscale</string>
    <string>--socket=/var/run/tailscaled.socket</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Library/Tailscale</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>5</integer>
  <key>StandardOutPath</key>
  <string>/Library/Logs/Tailscale/tailscaled.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Library/Logs/Tailscale/tailscaled.err.log</string>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
